* {
  border: 1px solid black;
}

/*
########### hEADER #########
*/
header {
  position: fixed;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header nav{
  padding-right: 30px;
}

a {
  color: black;
}

.logo span{
  color: MediumAquamarine;
  padding-left: 15px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

/*
########### CONTAINER ###########
*/

section {
  display: flex;
  padding-top: 116px;
  width: 100%;
  margin: 0 auto 78px auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  display: flex;
  width: 630px;
}

.main-story .image-content {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  }

  .image-content{
    display: flex;
  }

.stories {

}

.story {

}

.column.medium {
  display: flex;
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;

}
